<header class="px-2 clearfix">
  <div class="right-lg absolute-lg right-0 top-0">
    <ul class="mt-1 mt-lg-2 mr-2 mr-lg-3">
      {% assign nav = site.pages | sort_natural: 'nav' %}
      {% for my_page in nav %}
        {% if my_page.title and my_page.lang == page.lang and my_page.nav != false %}
        <li class="inline-block block-lg text-right ml-1 ml-lg-0">
          <a class="italic no-underline h4" href="{{ my_page.url | relative_url }}">
            {{ my_page.title }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
					<br /><hr /><br />
        <li class="inline-block block-lg text-right ml-1 ml-lg-0">
          <a class="italic no-underline h4" href="{{ '/' | relative_url }}">
						English
					</a>
				</li>
        <li class="inline-block block-lg text-right ml-1 ml-lg-0">
          <a class="italic no-underline h4" href="{{ '/fr' | relative_url }}">
						Français
					</a>
				</li>
    </ul>
  </div>
  {% if page.title %}
  <h1 class="">
    {{ page.title | capitalize }}
  </h1>
  {% endif %}
</header>
