---
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
        "theme-{{ site.theme_color | default: "light" }}.scss"
        // "theme-{{ site.theme_fonts | default: "system" }}.scss"
;
h1, h2, h3 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
