<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

  {% include lang.html %} 
  {% include head.html %}

  <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQBLBCG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div>

			{{ content }}
      <div class="container mx-auto px-2 py-2">
        {% for post in collec %}
          {% if page.tag == null or post.tags contains page.tag %}
            {% include post_collapsed.html %}
          {% endif %}
        {% endfor %}
      </div>

    </div>

  </body>

</html>

