<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

  {% include lang.html %} 
  {% include head.html %}

  <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQBLBCG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div>

      {% include header.html %}
			{{ content }}
      <div class="container mx-auto px-2 py-2">
        {% for post in collec %}
          {% include post_block.html %}
        {% endfor %}
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
